<ion-header [translucent]="true">
  <ion-toolbar>
    <ion-title>
      Contact
    </ion-title>
  </ion-toolbar>
</ion-header>

<ion-content [fullscreen]="true">
  <ion-header collapse="condense">
    <ion-toolbar>
      <ion-title size="large">Tab 3</ion-title>
    </ion-toolbar>
  </ion-header>
  <div class="card">
    <div class="header">
    
      <div class="avatar">
        <img src="assets/img/16.jpg" alt="">
      </div>
    </div>
  </div>
    
  <div class="card-body">
    <div class="user-meta ion-text-center">
      <h3 class="name"></h3>
      
      
    </div>
  <ion-button expand="medium" color="primary">Facebook: John Hermie Ford Ilaya</ion-button>
  <br>
  <ion-button  expand="medium" color="danger">Gmail: hermie.ilaya@evsu.edu.ph</ion-button>
  <br>
  <ion-button expand="medium" color="success">Phone: 09675462182</ion-button>
  <br><br><br><br><br>
  <ion-button color="light-contrast">Copyright@2021||HermieIlaya</ion-button>
  </div>


  
</ion-content>
